html, body{
	font-family:sans-serif;
	margin:0px;
	color:#FFFFFF;
}
.logo{
	float:left;
	height:75px;
	line-height:75px;
	color:#FFF;
	font-weight:bold;
	padding:0px 10px;
}
.active{
	background-color:#4DA8DA;
}
h1{
	font-family:monospace;
	text-align:center;
	font-size:400%;
}
nav ul{
	list-style-type:none;
	padding:0px;
	margin:0px;
	position:relative;
}
nav li{
	display:block;
	float:left;
	text-align:center;
}
nav li > ul{
	display:none;
	position:absolute;
}
nav{
	float:right;
	margin-right:15px;
}
a{
	display:block;
	padding: 0px 15px;
	height:50px;
	line-height:50px;
	color:#FFFFFF;
	text-decoration:none;
}
a:hover{
	background-color:#4DA8DA;
}
header{
	height: 50px;
	background-color: #274C63;
	width:100%;
	border-color:#FFFFFF;
}
main{
	padding:25px;
}
body{
	background-color:#12232E;
}
